*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #413c58;
}

.header { /* pikk riba terve ekraani laiuses */
    height: 100px;
    width: 100%;
    display: block;
    background-color: #f2dda4;
}

.inner_block_h { /* pika riba sees olev väiksem riba */
    height: 100%;
    width: 1000px;
    display: block;
    margin: 0 auto;
    background-color: #f2dda4;
}


.logo_block h1 { /* logo jaoks eraldatud osa h1 */
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 30px;
}

.logo_block { /* logo jaoks eraldatud osa */
    height: 100%;
    float: left;
    display: table;
}

.logo_block img {
    width: 150px;
    height: 100%;
}

.menu { /* menüü ise paikneb paremale */
    height: 100%;
    float: right;
}

.menu li { /* menüü li */
    height: 100%;
    display: table;
    vertical-align: middle;
    padding: 0px 25px;
    float: left;
}

.menu li:hover a {
    color: #a3c4bc;
}

.menu li a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: black;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.footer { /* footer riba */
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #f2dda4;
}

.inner_block_f { /* eraldatud osa kuhu käib sisu */
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_block_f .logo_block {
    width: 35%;
    float: left;
    display: block;
    height: 100%;
}

.inner_block_f .logo_block h1 {
    width: 60px;
    height: auto;
}

.inner_block_f .footer_sc {
    width: 20%;
    float: left;
    margin-right: 15px;
    height: 100%;
}

.inner_block_f .footer_sc:last-child {
    margin-right: 0;
}

.inner_block_f .footer_sc h1 {
    color: black;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    display: block;
}

.inner_block_f .footer_sc a {
    color: black;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
    display: block;
    cursor: pointer;
}

.inner_block_f .footer_sc a:hover {
    color: #413c58;
}

#upbutton:hover {
    color: #413c58;
}
